<html>
    <body>
        <h1>Cadastro de Livros</h1>
        <form action="/cadastrolivros" method="POST">
        <p>
            Editora: <select name="editora">
                <option>Scipione</option>
                <option>Atica</option>
                <option>Sextante</option>
                <option>Metodista</option>
            </select>
        </p>
        <p>
            Nome: <input type="text" name="nome" value="" />
        </p>
        <p>
            Ano: <input type="number" name="ano" value="2019" />
        </p>
        <p>
            <input type="submit" value="Salvar" />
        </p>
        </form>
    </body>
</html>