<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<table>
  <tr>
    <td>Ediora</td>
    <td>Nome</td>
    <td>Ano</td>
  </tr>
  <% for(var i=0; i < livros.length; i++ ) { %>
    <tr>
      <td><%= livros[i].editora %></td>
      <td><%= livros[i].nome %></td>
      <td><%= livros[i].ano %></td>
    </tr>
  <%} %>
</table>
  <a href="/cadastrolivros">Cadastrar Novo Livro</a>
  </body>
</html>