<html>
    <body>
        <h1>Cadastro de Carro</h1>
        <form action="/cadastro" method="POST">
        <p>
            Marca: <select name="marca">
                <option>VW</option>
                <option>Fiat</option>
                <option>Ford</option>
                <option>GM</option>
            </select>
        </p>
        <p>
            Modelo: <input type="text" name="modelo" value="" />
        </p>
        <p>
            Ano: <input type="number" name="ano" value="2019" />
        </p>
        <p>
            <input type="submit" value="Salvar" />
        </p>
        </form>
    </body>
</html>