<html>
    <body>
        <h1>Cadastro de Produtos</h1>
        <form action="/cadastroprodutos" method="POST">
        <p>
            Tipo: <select name="tipo">
                <option>Latas</option>
                <option>Embutidos</option>
            </select>
        </p>
        <p>
            Descricao: <input type="text" name="descricao" value="" />
        </p>
        <p>
            Valor: <input type="number" name="valor" value="100" />
        </p>
        <p>
            <input type="submit" value="Salvar" />
        </p>
        </form>
    </body>
</html>