<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<table>
  <tr>
    <td>Tipo</td>
    <td>Descrição</td>
    <td>Valor</td>
  </tr>
  <% for(var i=0; i < produtos.length; i++ ) { %>
    <tr>
      <td><%= produtos[i].tipo %></td>
      <td><%= produtos[i].descricao %></td>
      <td><%= produtos[i].valor %></td>
    </tr>
  <%} %>
</table>
  <a href="/cadastroprodutos">Cadastrar Novo Produto</a>
  </body>
</html>